<p id="notice"><%= notice %></p>

<h1>Cerebros</h1>

<table>
  <thead>
    <tr>
      <th>Flavor</th>
      <th>iq</th>
      <th>fresh</th>
     
    </tr>
  </thead>

  <tbody>
    <% @cerebros.each do |cerebro| %>
      <tr>
        <td><%= cerebro.flavor %></td>
        <td><%= cerebro.iq %></td>
          <td><%= cerebro.fresh %></td>
        <td><%= link_to 'Show', cerebro %></td>
        <td><%= link_to 'Edit', edit_cerebro_path(cerebro) %></td>
        <td><%= link_to 'Destroy', cerebro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cerebro', new_cerebro_path %>
