<p id="notice"><%= notice %></p>

<p>
  <strong>Flavor:</strong>
  <%= @cerebro.flavor %>
  
  <strong>iq:</strong>
  <%= @cerebro.iq %>
  
  <strong>fresh:</strong>
    <%= @cerebro.fresh %>
</p>

<%= link_to 'Edit', edit_cerebro_path(@cerebro) %> |
<%= link_to 'Back', cerebros_path %>
